<!Doctype Html>  
<Html>     
<Head>      
<Title>     
Add the border using internal CSS  
</Title>  
<style type = "text/css">  
  
h2 {  
  border-color:blue;  
  border-width: 2px;  
  padding: 100px;
  border-style: inset;
  margin-top: 120px;  
  width: 20%;
  margin-left: 500px;
  }  
</style>  
</Head>  
<Body>   

 
<h2> <div>
    <mat-card>
        <mat-card-content style ="max-width:360px;">
            <div>
                <h1>Laboratoire  de recherche GLID 2 G1</h1>
                
               
                <div (click)="tryGoogleLogin()">
                    <button><span>se connecter avec google </span></button>
                                    </div>
            </div>
        </mat-card-content>
    </mat-card>
</div></h2>

</Body>   
</Html>  


