
{{isFormInEditMode()?'Modifier un  outil':'Creer un nouveau outil '}}
<form [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field appearance="legacy">
            <input matInput type="date" placeholder="Date" formControlName="Date">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <input matInput placeholder="Source" formControlName="Source">
        </mat-form-field>
    </p>
   
    <button mat-stroked-button color="primary" type="submit">Submit</button>
</form>
