{{isFormInEditMode()?'Edit Artricle':'Create new Artricle'}}
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field appearance="legacy">
            <input matInput placeholder="titre" formControlName="titre">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <input matInput placeholder="type" formControlName="type">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <input matInput placeholder="dateApparition" formControlName="dateApparition">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <input matInput placeholder="lien" formControlName="lien">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <input matInput placeholder="sourcePdf" formControlName="sourcePdf">
        </mat-form-field>
    </p>
   
    <button mat-stroked-button color="primary" type="submit">Submit</button>
   
</form>
